@import "variables.scss";

.secondary_button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    position: static;
    // width: 171px;
    height: 40px;
    top: 0px;
    background-color: $default-white;
    color: $blue-300;
    font-weight: 500;
    font-family: $text-sm-med-font-family;
    /* blue/300 */

    border: 1px solid $blue-300;
    box-sizing: border-box;
    border-radius: 5px;

    transition-duration: 0.2s;
}

.secondary_button:hover {
    background-color: $blue-300;
    color: $default-white;
    transition-duration: 0.2s;
    cursor: pointer;
}

.secondary_button:active {
    background: $blue-500;
    transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
}