@import "../variables.scss";

.dashboard {
    height: 100vh;
    display: flex;
    flex-direction: row;
}
/* Dash Body */

.dashboard-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 10% 0 30%;
    width: 100%;
    img {
        position: static;
        width: 179px;
        height: 167.14px;
        left: 0px;
        top: 0px;
    }
    h1 {
        position: static;
        width: 744px;
        height: 56px;
        left: 0px;
        top: 0px;
        /* text-2xl / bold */
        margin: 40px 0 16px 0;
        font-family: Rubik;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 56px;
        /* identical to box height, or 140% */

        color: $blue-300;
    }
    p {
        position: static;
        width: 744px;
        height: 64px;
        left: 0px;
        top: 72px;
        margin: 0 0 40px 0;
        /* text-md / reg */

        font-family: Rubik;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 32px;
        /* or 160% */

        color: $gray-700;
    }

    .CTA {
        display: flex;
        flex-direction: row;
        // Change to Material UI
        .primary_button{
            margin-right: 16px;
        }
    }
}
@media screen and (max-width: 1536px) {
    
}
@media screen and (max-width: 1440px) {
   
}

/* Dashboard Nav */

.side-nav {
    display: flex;
    flex-direction: column;
    background-color: $blue-300;
    height: 100%;
    width: 200px;
    position: absolute;
    left: 0;

    .logo {
        margin: 80px 60px 80px 32px;
    }

    .nav-item {
        display: flex;
        align-items: center;
        font-family: $text-base-med-font-family;
        font-size: $text-base-med-font-size;
        font-weight: $text-base-med-font-weight;
        line-height: $text-base-med-line-height;
        text-decoration: none;
        color: #FFFFFF;
        height: 72px;
        padding-left: 32px;
        transition-duration: 0.5s;
    }

    .nav-item:active, .nav-item:hover {
        background-color: $blue-400;
        transition-duration: 0.5s;
    }
}

/* Top Bar */

.top-bar {
    display: flex;
    width: 100%;
    height: 80px;
    // padding: 0 20%;
    position: absolute;
    align-items: center;
    top: 0;
    border-bottom: 1px dotted $gray-300;
    justify-content: flex-end;

    .chevron {
        display: flex;
        align-items: center;
        margin: 0 5%;
        justify-content: flex-end;
        cursor: pointer;
    }

    #org-logo {
        border-radius: 56px;
        height: 56px;
    }

    #chevron {
        transition-duration: 0.5s;
    }

    .active {
        #chevron {
            transform: rotate(180deg);
            transition-duration: 0.5s;
        }
    }

    ul {
        display: none;
        position: absolute;
        flex-direction: column;
        width: 200px;
        right: 5%;
        top: 60px;
        height: 96px;
        padding: 0;
        margin: 0;
        background-color: $default-white;
        justify-content: center;
        align-items: center;
        transition-duration: 0.5s;
        box-shadow: 0px 4px 10px 0px #00000014;
        li {
            list-style-type: none;
            align-self: center;
            padding: 12px;
            font-size: $text-sm-bold-font-size;
            font-family: $text-sm-bold-font-family;
        }
        li:nth-child(2) {
            color: $red-400;
        }
        z-index: 999;
    }
}