@import "variables.scss";

.secondary_button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
    position: static;
    width: 184px;
    height: 56px;
    left: 187px;
    top: 0px;

    /* blue/300 */

    border: 1px solid $blue-300;
    box-sizing: border-box;
    border-radius: 5px;
}